@Model List<string>
@{
    ViewBag.Title = "Index";
}

<form name="ListFiles" action="http://fkb.azurewebsites.net/Home/Upload" enctype="multipart/form-data" method="POST">
    Оберіть файл дл логічного виводу
    <br />
    @foreach (var b in Model)
    {
        <input type="radio" name="file" value="@b" />@b     
        <br />
    }
    <br>
    <input type="button" value="Подготовить форму" onclick="RedyForms()">
</form>
<script>
    function RedyForms()
        {
        for (i = 0; i < document.ListFiles.file.length; i++) {
                if (document.ListFiles.file[i].checked) {
                    document.location.href = "http://fkb.azurewebsites.net/Сonclusion/ReadyForms?FileName=" + document.ListFiles.file[i].value;
                }
            }
        }
</script>
