@Model List<string>
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("ReadyForms", "Сonclusion", FormMethod.Post))
{
    foreach (var b in Model)
    {
        <input type="radio" name="FileName" value="@b" />@b
        <br />
    }
    <button name="action" value="RedyForms">Провести виведення</button>
}
              