<br />
<p>Enter the values of all variables to get the result conclusion</p>
<br />
@using (Html.BeginForm("GetConclusion", "Сonclusion", FormMethod.Post))
{
    foreach (var b in Model)
    {
        <p>@b.Name</p>
        <input type="text" name="valueLv" value=""  />
        <br />
    }

    <button name="action" value="RedyForms">Start conclusion</button>

    <button name="action" value="RedyFormsForPhasing">Viev Defuzzication</button>
    //document.location.href = "http://localhost:34976/Сonclusion/GetVievPhasing?valueLv=0,787&valueLv=0,787&valueLv=0,787&valueLv=0,787&valueLv=0,787&valueLv=0,787&valueLv=0,787&valueLv=0,787&valueLv=0,787&valueLv=0,787&valueLv=0,787&valueLv=0,787&valueLv=0,787&valueLv=0,787&valueLv=0,787";
}
