

 @ViewData["NameLv"]

<form name="ListLv" action="http://fkb.azurewebsites.net/Сonclusion/" enctype="multipart/form-data" method="POST">
    <br />
    @foreach (var b in Model)
    {
        <p>@b</p>
        <input type="text" name="valueLv" value="" />
        <br />
    }
    @ViewData["test"]
    <br>
    <input type="button" value="Провести виведення" onclick="RedyForms()">
</form>
           <script>
    function RedyForms()
    {
        var res = "http://fkb.azurewebsites.net/Сonclusion/GetConclusion?";
        for (i = 0; i < document.ListLv.valueLv.length; i++) {
            if(i==0){
                res = res + "valueLv=" + document.ListLv.valueLv[i].value;
            }else{
                res = res + "&valueLv=" + document.ListLv.valueLv[i].value;
            }
            
        }
        document.location.href = res;
        //document.location.href = "http://fkb.azurewebsites.net/Сonclusion/GetConclusion?valueLv=0,787&valueLv=0,787&valueLv=0,787&valueLv=0,787&valueLv=0,787&valueLv=0,787&valueLv=0,787&valueLv=0,787&valueLv=0,787&valueLv=0,787&valueLv=0,787&valueLv=0,787&valueLv=0,787&valueLv=0,787&valueLv=0,787";
    }
</script>  

