
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>Тег FORM, атрибут enctype</title>
</head>
<body>
    @ViewData["TestConvert"];
    <form action="http://fkb.azurewebsites.net/Home/Upload" enctype="multipart/form-data" method="POST">
        Виберіть файл для загрузки?
        <input name="upload" size="40" type="file">
        <br>
        <input type="submit">
    </form>
    <br />
    <a href='javascript: document.location.href = "http://localhost:34976/Сonclusion/index";'>Перейти до списку файлів</a>
</body>
</html>
