
@{
    ViewBag.Title = "Edit";
}

@Ajax.ActionLink("Edit linguistic variable", "EditLvIndex", new AjaxOptions { UpdateTargetId = "results" })
@Ajax.ActionLink("Edit terms of linguistic variable", "EditTermsIndex", new AjaxOptions { UpdateTargetId = "results" })
@Ajax.ActionLink("Edit FP terms of linguistic variables", "EditFpTermsIndex", new AjaxOptions { UpdateTargetId = "results" })
<div id="results"></div>