<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div id="L" class="ListTerm" style="position:absolute;left:400px">

</div>
<img src="@Url.Action("CreateChart","VievFp", new { nameLv = ViewData["NameLv"] })" />

