
<div id="ListLv"></div>
@foreach (string NameLv in Model)
{
    @Ajax.ActionLink(NameLv, "VievTermWithFp", "EditFKB", new { nameLv = NameLv }, new AjaxOptions { UpdateTargetId= "chart" })
    <br />
}
<div id="chart">

</div>