body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#ListLv, #chart{position:absolute }
#ListLv{
    width:auto;border-right:1px;
    top:50px;
    bottom:0;
}
#chart{
    top:50px;
    left:210px;
    bottom:0;right:0;
    z-index: -100;
}
