<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/main.css" />
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <title>Fkb</title>
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        
    </div>
    <div class="row">
        <div class="footer span12">
            <img class="logo1" src="~/Content/Images/its.png" alt="logoits">
            <img class="logo2" src="~/Content/Images/fuzzy1.png" alt="FZLG">
            <img class="logo3" src="~/Content/Images/kpi.png" alt="logokpi">
        </div>
    </div>
</body>
</html>
